.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #A2CDCD;
  color: white;
  background: #A2CDCD;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #D57E7E;
  border-color: #D57E7E;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}
